/* .container{
 
    display:flex;
    justify-content: center;
  align-items: center;
  flex-direction: column;
margin: 200px 10px;
}
*/
*{
    margin: 0px 0px;
}
.container{
   background-image: url("https://media.istockphoto.com/id/1271863211/photo/note-pad-and-pencil.jpg?b=1&s=170667a&w=0&k=20&c=AGKg04_O_SidW-fZzRPW2IyRP0FC3oZbE3mwIQjayac=") ;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0px 0px;
   padding: 0px 0px;
   height: 100vh;
} 
 #t1{
    height: 50px;
    width: 300px;
    padding: 10px 10px;
    font-size: 30px;
    margin:20px 500px;
}
#t2{
    height: 50px;
    width: 300px;
    padding: 0px 10px;
    font-size: 30px;
    margin:0px 500px;
}
#t3{
    height: 50px;
    width: 300px;
    padding: 10px 10px;
    font-size: 30px;
    margin:10px 500px;
}

#t4{
    height: 50px;
    width: 300px;
    padding: 10px 10px;
    font-size: 30px;
    margin:10px 500px;
}  
#t5{
  
    height: 50px;
    width: 300px;
    padding: 10px 10px;
    font-size: 30px;
    margin:10px 500px;

}  
#t6{
  
    height: 50px;
    width: 300px;
    padding: 10px 10px;
    font-size: 30px;
    margin:10px 500px;

}  
#t7{
  
    height: 50px;
    width: 300px;
    padding: 10px 10px;
    font-size: 30px;
    margin:10px 500px;

}  